<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>13-Almacen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AgregarProductoServlet</display-name>
    <servlet-name>AgregarProductoServlet</servlet-name>
    <servlet-class>com.cursojava.controller.AgregarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarProductoServlet</servlet-name>
    <url-pattern>/AgregarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProductoServlet</display-name>
    <servlet-name>EliminarProductoServlet</servlet-name>
    <servlet-class>com.cursojava.controller.EliminarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProductoServlet</servlet-name>
    <url-pattern>/EliminarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProductosServlet</display-name>
    <servlet-name>ListarProductosServlet</servlet-name>
    <servlet-class>com.cursojava.controller.ListarProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProductosServlet</servlet-name>
    <url-pattern>/ListarProductosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarProductoServlet</display-name>
    <servlet-name>ModificarProductoServlet</servlet-name>
    <servlet-class>com.cursojava.controller.ModificarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarProductoServlet</servlet-name>
    <url-pattern>/ModificarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarProductosServlet</display-name>
    <servlet-name>BuscarProductosServlet</servlet-name>
    <servlet-class>com.cursojava.controller.BuscarProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarProductosServlet</servlet-name>
    <url-pattern>/BuscarProductosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AñadirAlPedidoServlet</display-name>
    <servlet-name>AñadirAlPedidoServlet</servlet-name>
    <servlet-class>com.cursojava.controller.AñadirAlPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AñadirAlPedidoServlet</servlet-name>
    <url-pattern>/AñadirAlPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgregarAlPedidoServlet</display-name>
    <servlet-name>AgregarAlPedidoServlet</servlet-name>
    <servlet-class>com.cursojava.controller.AgregarAlPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarAlPedidoServlet</servlet-name>
    <url-pattern>/AgregarAlPedidoServlet</url-pattern>
  </servlet-mapping>
</web-app>